body{
    background-color: #00203FFF;
    color:azure;
    font-family:'Times New Roman', Times, serif;
}
h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
form {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
input {
    display: inline-block;
    font-family:'Times New Roman', Times, serif;
}
.new_task{
    font-size: 25px;
    padding: 10px 20px;
    width: 70%;
    background: azure;
}
.submit_button{
    background: #00203FFF;
    color:azure;
    border: 2px #ADEFD1FF solid;
    font-size: 25px;
    padding: 10px 20px;
    width: 20%;
}
.submit_button:hover{
    background: #ADEFD1FF;
    color: black;
    border: 2px #ADEFD1FF solid;
    transition: 0.3s;
}
ul {
    display: flex;
    flex-direction: column;
    margin: 40px;
    background-color: azure;
    border: 5px #ADEFD1FF solid;
    color: black;
}
ul li{
    padding: 12px 8px 12px 40px;
    font-size: 20px;
    box-shadow: inset 0px 0px 0px 1px rgb(202, 214, 214);
    box-sizing: border-box;
}
ul li:hover{
    background-color: #ADEFD1FF;
}
ul li.checked {
    background: rgb(142, 150, 150);
    color: azure;
    text-decoration: line-through;
}
